<div class="container">
    <div class="details">
      <h2>Add New Author</h2>
      <% if @author.errors.any? %>
        <% @author.errors.full_messages.each do |error| %>
          <p class="alert alert-danger"><strong>Input Error: <%= error %></strong></p>
        <% end %>
      <% end %>

      <%= form_for @author do |author| %>

        <div class="form-group">
          <%= author.label :first_name %>
          <%= author.text_field :first_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= author.label :last_name %>
          <%= author.text_field :last_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= author.label :bio %>
          <%= author.text_field :bio, class: "form-control" %>
        </div>

        <div class="">
          <%= author.submit "Add New Author", class: "btn btn-primary" %>
        </div>

      <% end %>
      <hr>
    </div>
</div>
