<div class="welcome">
  <% if @current_user %>
      Welcome back, <%= @current_user.name %>!
      <%= link_to cart_path, class: "button" do %>
        <i class="glyphicon glyphicon-shopping-cart gi-3x"></i>
      <% end %>
    <% end %>
</div>
<div class="reat_link">
  <%= link_to "React at Work Here", react_path %>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <% @books.each do |book| %>
    <div class="span3">
      <div class="img"><%= link_to image_tag(book.photo_url), book_path(id: book.id) %></div>
      <h4><%= link_to book.title, book_path(id: book.id) %></h4>
      <h4>$<%= book.price %></h4>
    </div>
      <% end %>
  </div>
</div>
