<!DOCTYPE html>
<html>
<head>
  <title>IronLibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Metal+Mania' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="login">
    <%= link_to "Log In Here", login_path, class: "btn btn-default btn-block" %>
  </div>
  <nav class="header">
    <h3>
      <%= link_to "Add Book", new_book_path, class: "btn btn-success" %>
    </h3>
    <h2>
      <%= link_to "View Books", root_path %>
    </h2>
    <h1>
      <%= link_to "IronLibrary", root_path %>
    </h1>
    <h2>
      <%= link_to "View Authors", authors_path %>
    </h2>
    <h3>
      <%= link_to "Add Author", new_author_path, class: "btn btn-success" %>
    </h3>
  </nav>

<%= yield %>

</body>
</html>
