<!DOCTYPE html>
<html>
<head>
  <title>IronLibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Metal+Mania' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="header">
    <h1>
      <%= link_to "IronLibrary", root_path %>
    </h1>
    <h2><%= link_to "Add Book", new_book_path, class: "btn btn-success" %></h2>
  </nav>


<%= yield %>

</body>
</html>
